.section_1 {
    background: green;
    background-color: silver;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5b631ef…/1552321998582-BAPJ1P4DXOKGSGCX711R/ke17ZwdGBToddI8pDm48kKxmDcClylCntn0xSFWqzVN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ubjtn4bS4OrO-epj5BxLnkxuCYrDSJ1pjE1VB6a4yQ2JIxAufPCmgvFRHjUSo9H0Wg/HUNK+150+i3S.jpg);
}
.h2 {
    color: red;
}